<h1>Admin Dashboard</h1>

<ul class="list-group">
  <li class="list-group-item">
    <div><strong>Number of products: </strong><%= @products%></div>
  </li>
  <li class="list-group-item">
    <div><strong>Number of categories: </strong> <%= @categories%></div>
  </li>
</ul>
