<h1>Jungle</h1>
<h4><i>About us...Who are we? </i></h4>
<p><strong>Jungle</strong> is a retail store that offers amazing deals on all your essential needs. Established in 1998, we started off as a small coffee shop, then became interested in selling unique items.</p>
